In [1]:
from pybaseball import schedule_and_record
data = batting_stats()
data.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Wednesday, Apr 1",TOR,Home,MIN,W,3.0,2.0,9.0,1-0,1.0,Tied,Clemens,Tewksbury,Myers,2:24,N,41387.0,1.02,1,None
2,"Thursday, Apr 2",TOR,Home,MIN,L,2.0,3.0,9.0,1-1,4.0,1.0,Guardado,Escobar,Aguilera,2:48,N,25584.0,1.02,-1,None
3,"Friday, Apr 3",TOR,Home,TEX,L,0.0,5.0,9.0,1-2,4.0,1.5,Helling,Guzman,None,2:44,N,25509.0,.97,-2,None
4,"Saturday, Apr 4",TOR,Home,TEX,W,9.0,2.0,9.0,2-2,3.0,1.5,Williams,Oliver,None,2:42,D,30156.0,.93,1,None
5,"Sunday, Apr 5",TOR,Home,TEX,L,5.0,6.0,9.0,2-3,4.0,2.5,Burkett,Risley,Wetteland,2:51,D,28106.0,.94,-1,None